<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8 content="width=device-width, initial-scale=1.0">
    <title> Cesi Right price !</title>
</head>
<body>
<h1>
    Right price ! <br> <img src="{{IMAGE}}"><br>
    Product Name : {{NAME}} <br>
    Price  : {{PRICE}} <br>
</h1>

{%if USERPRICE == PRICE %}
    <p>You win the jackpot ! <br>
    </p>

    <form action="/" method="get">
        <input type="submit" value="reTry"/>
    </form>
{%else%}
        <form action="/" method="post">
            <p>Try to find the price !</p>
            <input type="number" name="priceForm" id="priceForm"/>
            <input type="submit" id="send"/>

        </form>
    {%if USERPRICE != -20 %}

            {%if PRICE < USERPRICE%}
            <p>The price is too big</p>
        {%else%}
            <p>The price is too small</p>

        {%endif%}
    {%endif%}
{%endif%}

</body>
</html>